#personaje {
    width: 240px;
    height: 480px;
    margin: auto;
}

#personaje #objeto-valioso {
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#personaje #manos {
    height: 20%;
}

.mano {
    box-sizing: border-box;
    width: 75px;
    height: 100%;
    z-index: 3;
}

#manos #mano-derecha {
    left: 57px;
    transform: rotateZ(5deg);
}

.palma-lado-derecho {
    width: 65%;
    height: 60%;
    top: 38px;
    left: 13px;
    background-color: #83338a;
    box-sizing: border-box;
    transform: skewX(-25deg);
    clip-path: polygon(0% 0%, 70% 0%, 80% 100%, 0% 100%);
    z-index: 1;
}

.palma-lado-izquierdo {
    width: 50%;
    height: 60%;
    top: 38px;
    left: 24px;
    background-color: #83338a;
    box-sizing: border-box;
    transform: skewX(25deg);
    border-top-color: transparent;
    border-left-color: transparent;
}

.dedo1 {
    width: 20px;
    height: 15px;
    top: 36px;
    left: 45px;
    background-color: #83338a;
    border-radius: 50%;
    border-left-color: transparent;
    z-index: 1;
}

.dedo2 {
    width: 15px;
    height: 38px;
    top: -0px;
    left: 36px;
    background-color: #83338a;
    border-radius: 50%;
    border-bottom-color: transparent;
    transform: rotateZ(15deg);
    z-index: 1;
}

.dedo3 {
    width: 15px;
    height: 30px;
    top: 12px;
    left: 12px;
    background-color: #83338a;
    border-radius: 50%;
    border-bottom-color: transparent;
    transform: rotateZ(-35deg);
    z-index: 1;
}

.dedo4 {
    width: 15px;
    height: 30px;
    top: 28px;
    left: -3px;
    background-color: #83338a;
    border-radius: 50%;
    border-bottom-color: transparent;
    transform: rotateZ(-65deg);
    z-index: 1;
}

#manos #mano-izquierda {
    left: 117px;
    transform: rotateY(180deg) rotateZ(5deg);
}

#personaje #brazos {
    height: 15%;
}

.brazo {
    width: 30px;
    height: 110px;
    background-color: white;
    box-sizing: border-box;
}

#brazos #brazo-derecho {
    top: -10px;
    left: 64px;
    transform: skewX(-10deg);
}

#brazos #brazo-izquierdo {
    top: -10px;
    left: 157px;
    transform: skewX(10deg);
}

#personaje #cabello1 {
    width: 160px;
    height: 50px;
    top: -15px;
    left: 54px;
    background-color: #e97417;
    border-radius: 50%;
    transform: rotateZ(-10deg);
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 50%);
    z-index: 3;
}

#personaje #cabello2 {
    width: 70px;
    height: 50px;
    top: -23px;
    left: 143px;
    background-color: #e97417;
    border-radius: 50%;
    transform: rotateZ(-10deg);
    clip-path: polygon(0% 50%, 100% 47%, 100% 100%, 0% 100%);
    z-index: 3;
}

#personaje #cabello3 {
    width: 50px;
    height: 50px;
    top: -20px;
    left: 100px;
    background-color: #e97417;
    border-radius: 50%;
    transform: rotateZ(-20deg);
    clip-path: polygon(0% 50%, 100% 70%, 100% 100%, 0% 100%);
    z-index: 3;
}

#personaje #cabello4 {
    width: 50px;
    height: 30px;
    top: -0px;
    left: 55px;
    background-color: #e97417;
    border-radius: 50%;
    transform: rotateZ(-10deg);
    clip-path: polygon(0% 50%, 100% 50%, 100% 100%, 0% 100%);
    z-index: 3;
}

#personaje #cabello5 {
    width: 15px;
    height: 10px;
    top: 20px;
    left: 40px;
    border-radius: 50%;
    transform: rotateZ(-10deg);
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-left-color: transparent;
}

#personaje #cabello6 {
    width: 15px;
    height: 10px;
    top: 15px;
    left: 40px;
    border-radius: 50%;
    transform: rotateZ(15deg);
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-left-color: transparent;
}

#personaje #cabello7 {
    width: 15px;
    height: 10px;
    top: 8px;
    left: 90px;
    border-radius: 50%;
    transform: rotateZ(30deg);
    background-color: #e97417;
    z-index: 3;
}

#personaje #cabello8 {
    width: 25px;
    height: 15px;
    top: 0px;
    left: 127px;
    border-radius: 50%;
    transform: rotateZ(27deg);
    background-color: #e97417;
    z-index: 3;
}


#personaje #dexter-cabeza {
    width: 100%;
    height: 147px;
    top: 230px;
    z-index: 3;
}

#dexter-cabeza #cabeza {
    width: 75%;
    height: 250px;
    top: -112px;
    left: 30px;
    background-color: #fee3da;
    border-radius: 50%;
    clip-path: polygon(0% 70%, 100% 70%, 100% 100%, 0% 100%);
}

#dexter-cabeza #frente-derecha {
    width: 100px;
    height: 30px;
    top: 25px;
    left: 50px;
    background-color: #fee3da;
    border-bottom-color: transparent;
    border-right-color: transparent;
    transform: skewX(-15deg);
}

#dexter-cabeza #frente-izquierda {
    width: 80px;
    height: 30px;
    top: 25px;
    left: 110px;
    background-color: #fee3da;
    border-bottom-color: transparent;
    border-left-color: transparent;
    transform: skewX(15deg);
}

#dexter-cabeza #lente-derecho {
    width: 80px;
    height: 50px;
    top: 20px;
    left: 30px;
    background-color: #7cc8ea;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    clip-path: polygon(0% 36%, 100% 36%, 100% 100%, 0% 100%);
    transform: rotateZ(10deg);
    z-index: 3;
}

.dexter-ojo {
    width: 30px;
    height: 20px;
    top: 15px;
    left: 25px;
    background-color: black;
    border-radius: 50%;
}

.marco {
    width: 100px;
    height: 10px;
    background-color: black;
    top: 15px;
}

#dexter-cabeza #lente-izquierdo {
    width: 80px;
    height: 50px;
    top: 20px;
    left: 123px;
    background-color: #7cc8ea;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    clip-path: polygon(0% 36%, 100% 36%, 100% 100%, 0% 100%);
    transform: rotateZ(-10deg);
    z-index: 3;
}

#dexter-cabeza #oreja-derecha {
    width: 25px;
    height: 20px;
    top: 60px;
    left: 23px;
    background-color: #fee3da;
    border-right-color: transparent;
    border-radius: 50%;
    transform: rotateZ(15deg);
}

#dexter-cabeza #oreja-izquierda {
    width: 25px;
    height: 20px;
    top: 60px;
    left: 192px;
    background-color: #fee3da;
    border-left-color: transparent;
    border-radius: 50%;
    transform: rotateZ(-15deg);
}

#dexter-cabeza #dexter-nariz {
    width: 30px;
    height: 20px;
    background-color: #fee3da;
    top: 67px;
    left: 100px;
    transform: skewX(-45deg) rotateZ(-10deg);
    clip-path: polygon(37% 0%, 100% 0%, 100% 100%);
    z-index: 3;
}

#dexter-cabeza #dexter-labio-superior {
    width: 5px;
    height: 15px;
    top: 87px;
    left: 132px;
    transform: rotateZ(-20deg);
    background-color: black;
}

#dexter-cabeza #dexter-labio-inferior {
    width: 50px;
    height: 15px;
    top: 78px;
    left: 88px;
    transform: rotateZ(10deg);
    border-radius: 50%;
    border-top-color: transparent;
    border-right-color: transparent;
}

#personaje #torso {
    height: 30%;
}

.bata {
    height: 145px;
    box-sizing: border-box;
    background-color: white;
}

#torso #torso-lado-derecho {
    left: 18%;
    width: 130px;
    z-index: 2;
    transform: skewX(-15deg);
    border-right-color: transparent;
    clip-path: polygon(0% 0%, 90% 0%, 90% 100%, 0% 100%);
}

#torso #torso-lado-izquierdo {
    width: 40%;
    left: 45%;
    transform: skewX(10deg);
    border-left-color: transparent;
}

#torso #linea-bata {
    width: 50px;
    height: 144px;
    left: 85px;
    border-left-color: transparent;
    border-top-color: transparent;
    border-bottom-color: transparent;
    box-sizing: border-box;
    z-index: 3;
}

#torso #boton-bata {
    width: 10px;
    height: 20px;
    top: 115px;
    left: 115px;
    z-index: 3;
    background-color: black;
    border-radius: 50%;
}

#personaje #piernas {
    height: 15%;
}

.pie {
    width: 100px;
    height: 100%;
    background-color: black;
    clip-path: polygon(45% 0%, 100% 0%, 100% 40%, 70% 55%, 75% 40%, 0% 100%);
}

#piernas #pie-derecho {
    transform: rotateY(0deg);
}

#piernas #pie-izquierdo {
    left: 140px;
    transform: rotateY(180deg);
}