#diskette {
    width: 80px;
    height: 76.79px;
    background: linear-gradient(-25deg, #BF953F 0%, #FCF6BA 40%, #B38728 100%);
    border-radius: 10%;
    box-sizing: border-box;
    transition-property: transform;
    transition-timing-function: linear;
    animation-name: rotar;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes rotar {
    0% {
        transform: rotateY(0deg);
    }
    50% {
        background: linear-gradient(25deg, #BF953F 0%, #FCF6BA 40%, #B38728 100%);
    }
    100% {
        transform: rotateY(360deg);
    }
}

#diskette #circulo-externo {
    width: 46.07px;
    height: 46.07px;
    margin: auto;
    margin-top: 13%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: radial-gradient( #FCF6BA 20%,#B38728 25%, #B38728 26%);
    border-radius: 50%;
    overflow: hidden;
}

#diskette #detalle {
    width: 13%;
    height: 17%;
    margin: auto;
    margin-top: 8%;
    background-color: #B38728;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    opacity: 1;
    transition-property: opacity;
    transition-timing-function: linear;
    animation-name: mostrar;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes mostrar {
    0% {
        opacity: 1;
    }
    24% {
        opacity: 1;
    }
    25% {
        opacity: 0;
    }
    74% {
        opacity: 0;
    }
    75% {
        opacity: 1;
    }
}