#fondo-hawk {
    width: 100vw;
    min-width: 300px;
    height: 100vh;
    min-height: 600px;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(-25deg, #BF953F 0%, #FCF6BA 40%, #B38728 100%);
    overflow: hidden;
}

#professor-hawk {
    width: 300px;
    height: 400px;
}

blockquote {
    width: 300px;
    margin-top: 0;
    text-align: center;
    font-size: 2rem;
    font-weight: bolder;
    color: #B38728;
}

#professor-hawk #cabeza {
    width: 285px;
    height: 225px;
    border-radius: 50%;
    transform: rotateZ(25deg);
    top: 55px;
    left: -5px;
    border-color: #B38728;
    clip-path: polygon(0% 0%, 100% 0%, 100% 52%, 90% 55%, 61% 90%, 65% 100%, 0% 100%);
}

#professor-hawk #cabello-frente {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    transform: rotateZ(30deg);
    top: -80px;
    left: -45px;
    border-color: #B38728;
    border-left-color: transparent;
    border-bottom-color: transparent;
    border-top-color: transparent;
    clip-path: polygon(90% 40%, 100% 40%, 100% 100%, 50% 100%);
}

#professor-hawk #cabello-patilla {
    width: 300px;
    height: 193px;
    border-radius: 50%;
    transform: rotateZ(20deg);
    top: 40px;
    left: -200px;
    border-color: #B38728;
    border-left-color: transparent;
    border-bottom-color: transparent;
    border-top-color: transparent;
    clip-path: polygon(0% 0%, 100% 0%, 100% 38%, 80% 38%, 80% 50%, 100% 50%, 100% 100%, 0% 100%);
}

#professor-hawk #oreja {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transform: rotateZ(10deg);
    top: 160px;
    left: 70px;
    border-color: #B38728;
    border-right-color: transparent;
}

#professor-hawk #ceja {
    width: 70px;
    height: 40px;
    top: 50px;
    left: 100px;
    transform: rotateZ(35deg);
    border-color: #B38728;
    border-radius: 50%;
    border-left-color: transparent;
    border-top-color: transparent;
    border-bottom-color: transparent;
}

#professor-hawk #anteojo-marco {
    width: 130px;
    height: 30px;
    transform: skewX(-40deg) rotateZ(-15deg);
    top: 105px;
    left: 120px;
    border-color: #B38728;
    border-right-color: transparent;
    clip-path: polygon(0% 0%, 100% 0%, 100% 20%, 7% 80%, 7% 100%, 0% 80%);
}

#professor-hawk #anteojo-lente-derecho {
    width: 70px;
    height: 40px;
    top: 115px;
    left: 125px;
    transform: rotateZ(-12deg);
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-color: #B38728;
}

#professor-hawk #anteojo-lente-izquierdo {
    width: 70px;
    height: 35px;
    top: 95px;
    left: 218px;
    transform: rotateZ(-12deg);
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-color: #B38728;
    clip-path: polygon(35% 0%, 100% 0%, 100% 100%, 55% 100%);
}

.ojo {
    width: 40px;
    height: 30px;
    top: -20px;
    left: 10px;
    border-color: #B38728;
    border-radius: 50%;
    border-left-color: transparent;
    border-top-color: transparent;
    border-right-color: transparent;
}

#professor-hawk #nariz {
    width: 200px;
    height: 125px;
    border-radius: 50%;
    transform: rotateZ(45deg);
    top: 190px;
    left: 100px;
    border-color: #B38728;
    border-left-color: transparent;
    border-bottom-color: transparent;
    border-right-color: transparent;
    clip-path: polygon(30% 0%, 67% 0%, 67% 100%, 30% 100%);
}

#professor-hawk #labio-superior {
    width: 100px;
    height: 81px;
    border-radius: 50%;
    transform: rotateZ(-0deg);
    top: 170px;
    left: 124px;
    border-color: #B38728;
    border-top-color: transparent;
    border-left-color: transparent;
    border-bottom-color: transparent;
    /* clip-path: polygon(0% 0%, 25% 0%, 25% 20%, 0% 50%); */
}

#professor-hawk #labio-inferior {
    width: 200px;
    height: 50px;
    border-radius: 50%;
    transform: rotateZ(35deg);
    top: 265px;
    left: 145px;
    border-color: #B38728;
    border-right-color: transparent;
    border-bottom-color: transparent;
    clip-path: polygon(0% 0%, 25% 0%, 25% 20%, 0% 50%);
}

#professor-hawk #cuello-lado-izquierdo {
    width: 50px;
    height: 100px;
    border-radius: 50%;
    transform: rotateZ(-35deg);
    top: 250px;
    left: 80px;
    border-color: #B38728;
    border-left-color: transparent;
    border-top-color: transparent;
    border-bottom-color: transparent;
    clip-path: polygon(50% 50%, 100% 49%, 100% 100%);
}

#professor-hawk #cuello-lado-derecho {
    width: 50px;
    height: 80px;
    transform: rotateZ(10deg);
    top: 230px;
    left: 135px;
    border-color: #B38728;
    border-left-color: transparent;
    border-bottom-color: transparent;
    clip-path: polygon(90% 0%, 100% 0%, 100% 100%, 90% 100%);
}

#professor-hawk #monio {
    width: 75px;
    height: 40px;
    background-color: #B38728;
    top: 300px;
    left: 125px;
    clip-path: polygon(0% 0%, 0% 100%, 50% 50%, 100% 0%, 100% 100%);
}