* {
    text-decoration: none;
}

body {
    height: 100vh;
    min-height: 600px;
    overflow: hidden;
    background-color: #001d59;
}

#titular {
    font-family: 'Montserrat', sans-serif;
    font-size: 5vh;
    text-align: center;
    cursor: pointer;
    color: #d4dbee;
}

/* ---------- Información de proyecto --------- */

#info {
    width: 80vw;
    min-width: 240px;
    position: absolute;
    left: 10vw;
    top: 130vh;
    padding: 5% 5%;
    background-color: rgba(0, 0, 0, 0.75);
    color: #d4dbee;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    transition: .4s top linear;
}

#info.activo {
    top: 20vh;
}

#info h2 {
    font-size: 6vh;
    font-weight: bold;
    text-align: center;
}

#info p {
    font-size: 3vh;
}

#info a {
    color: #85fe8f;
    /* color: #57de71; COLOR DE MANCHAS DEL Nucleo*/
}

/* ---------- Propiedades para dibujar --------- */

.contenedor {
    position: relative;
}

.pieza {
    position: absolute;
    top: 0;
    left: 0;
}

.trazo-fino {
    border: 5px solid;
}

.trazo-grueso {
    border: 10px solid;
}